# ===============================
# ENV & SECRETS
# ===============================
.env
.env.*
# !.env.example

# ===============================
# NODE
# ===============================
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===============================
# BUILD OUTPUTS
# ===============================
dist/
build/
coverage/

# ===============================
# LOGS
# ===============================
logs/
*.log

# ===============================
# DOCKER
# ===============================
docker-data/
volumes/

# ===============================
# OS / EDITORS
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# TEST & TEMP
# ===============================
.tmp/
.cache/

# ===============================
# DATABASE
# ===============================
*.sqlite
*.db
# ==============================
# Files
# ==============================
*.txt